header
  width: 100%
  padding: 4vw 0 3vw

header .header--first-row
  position: relative
  margin-bottom: 3vw

header .header--first-row__icons
  position: absolute
  right: 0
  top: 0

header .header--second-row
  position: relative

header .header--second-row__buttons
  position: absolute
  right: 0
  bottom: 0

.fa-times
  color: $color-red
  margin-right: 1em

.fa-check
  color: $color-green
