header
  width: 100%
  padding: 60px 0 50px

header .header--first-row
  position: relative
  margin-bottom: 40px

header .header--first-row__icons
  position: absolute
  right: 0
  top: 0

  .fa-times
    color: $color-red
    margin-right: 1em

  .fa-check
    color: $color-green

header .header--second-row
  position: relative

header .header--second-row__buttons
  position: absolute
  right: 0
  bottom: 0

header .header--second-row__buttons .orientation-btn
  width: 150px
  height: 52px
  background-color: $color-midgray
  border-bottom: 6px solid rgba(0,0,0,0.15)
  color: $color-lightgray
  font:
    family: $font-sans
    size: 18px
    weight: 300

  &.active
    color: $color-blue
    background-color: $color-darkgray
