.landing ng-controller="ImagesCtrl as imagesCtrl"
  h1 Landing page
  form ng-submit="imagesCtrl.imagesFormSubmit()" novalidate="" name="imagesForm"
    .input-container
      input(
        name="firstImg"
        type="text"
        ng-model="firstImageUrl"
      )
      input(
        name="secondImg"
        type="text"
        ng-model="secondImageUrl"
      )
      input(
        type="submit"
      )
  a href="/compare" = data.strings.landing.compare_button
