.compare-section ng-controller="CompareCtrl as compareCtrl"
  .container
    header 
      div: .compare--normal-header(
        ng-include="'/templates/compare/normal_header.html'"
        ng-show="compareCtrl.isCompareEnabled()"
        )
      div: .compare--configure-menu(
        ng-include="'/templates/compare/configure_menu.html'"
        ng-controller="ConfigureMenuCtrl as configureCtrl"
        ng-show="!compareCtrl.isCompareEnabled()"
        )
    .image(
      image-compare=""
      image-compare-selector=".image-container--front"
      image-orientation="compareCtrl.getOrientation()"
      is-compare-enabled="compareCtrl.isCompareEnabled()"
      first-image="compareCtrl.getFirstImage()"
      second-image="compareCtrl.getSecondImage()"
      ng-class="{'image-container__dimness' : !compareCtrl.isCompareEnabled()}"
    )
