.image-container          style="padding-top: {{ getDimensionsRatio() }}%"
  .image-container--front style="background-image: url({{firstImage.url}})"
  .image-container--back  style="background-image: url({{secondImage.url}})"
